html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

/* Game */
.game {
  display: block;
  height: 100%;
  width: 100%;
  background: url('https://i.postimg.cc/m1TJ5n4W/fondo.jpg') no-repeat center center;
  background-size: cover;
}

.numbers {
  width: 100%;
  position: absolute;
  color: #fff;
  font: 10vw arial;
  text-align: center;
  pointer-events: none;
}

.score {
  top: 10px;
}

.timer {
  bottom: 10px;
}

.ball {
  display: block;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background: url('https://i.postimg.cc/ftn6xLgL/beer.png') no-repeat center center;
  background-size: contain;
  position: absolute;
  left: 46.5%;
  top: 35%;
  box-sizing: border-box;
  /* Eliminar el borde negro */
  border: none;
  transition: .2s ease;
}

.ball.end {
  pointer-events: none;
}

.water-bottle {
  display: none;
  width: 10vw;
  height: 10vw;
  background: url('https://i.postimg.cc/5yJgFTxp/Pngtree-bottle-of-water-1351849.png') no-repeat center center;
  background-size: contain;
  position: absolute;
  box-sizing: border-box;
  transition: .2s ease;
}

/* Estilo para el texto y la imagen final */
.final-message {
  font-size: 4vw; /* Texto más pequeño */
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.final-image {
  display: block;
  width: 30%; /* Imagen más pequeña */
  margin: 10px auto; /* Centrar la imagen y agregar margen superior */
}
